.container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-column-gap: 2rem;
    margin: 4.5rem;
    top: 0;
}

.container h5 {
    color: #fff;
    padding-left: 3rem;
}

.container form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem;
    background: #37405A;
    width: 100%;
    margin: 0.25rem;
    border-radius: 0.5rem;
}

.container fieldset {
    display: grid;
    place-items: center;
    border: none;
    margin: 0;
    padding: 0;
}

.container label {
    display: inline-block;
    width: 6rem;
    margin: 0.5rem 0;
    color: #fff;
}

.group {
    padding: 0.125rem 0 0 0.125rem;
    margin: 0 auto .125rem auto;
}

.group input,
.group select {
    display: inline-block;
    width: 12rem;
    height: 1.85rem;
    padding: 0.375rem 0.75rem;
    color: #495057;
    border: 0.125rem solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in, box-shadow 0.15s ease-in-out;
    text-align: center;
}

.group input:focus,
.group select:focus {
    border-color: #80bdff;
    border-width: 0.125rem;
    outline: 0;
}

.group select {
    right: 0;
}

.group .seperate {
    display: inline-block;
    width: 2.8rem;
    height: 1.85rem;
    padding: 0.375rem 0.75rem;
    margin: 0.125rem;
    color: #495057;
    border: 0.125rem solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in, box-shadow 0.15s ease-in-out;
    text-align: center;
}

.group .inline {
    display: inline-block;
    width: 1rem;
    height: 3.5rem;
    margin: -0.125rem 0.25rem 0 0.75rem;
    vertical-align: middle;
}

.container button[type='submit'] {
    display: inline-block;
    width: 7.2rem;
    margin: 2em 1rem;
    height: 2.5em;
    background-color: #00FFFF;
    color: #2C3348;
    border: none;
    border-radius: 0.5rem;
    min-width: 1rem;
    font-weight: 600;
    box-shadow: -0.25rem 0.125rem 0.75rem 0.125rem rgba(0, 0, 0, 0.2);
}

.container button[type='button'] {
    display: inline-block;
    width: 7.2rem;
    margin: 2em 1rem;
    height: 2.5em;
    background-color: #2C3348;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    min-width: 1rem;
    font-weight: 600;
    box-shadow: -0.125rem 0.125rem 0.75rem 0.125rem rgba(0, 0, 0, 0.2);
}

.container button:hover {
    cursor: pointer;
}