.title {
    position: absolute;
    /* display: inline-flex; */
    font-size: 1rem;
    margin: 0;
    top: 0;
    right: 0;
    background: #37405A;
    width: 100vw;
}

.title ul li {
    display: inline;
    list-style-type: none;
    padding-right: 2rem;
    margin: 1rem;
    float: right;
}

.title ul li a {
    color: #707070;
    text-decoration: none;
}

.title li:nth-child(1) a {
    color: #fff;
    border-bottom: 0.25rem solid #00FFFF;
}

.title ul li a:hover {
    text-decoration: none;
    cursor: pointer;
}