.title {
    position: absolute;
    display: inline-flex;
    margin: 1rem;
    font-size: 1rem;
    top: 0;
    right: 0;
}

.title li {
    list-style-type: none;
    padding: 1rem;
    margin: 1rem;
}

.title a {
    color: #707070;
    text-decoration: none;
}

.title li:nth-child(5) a {
    color: #fff;
}

.title ul li a:hover {
    text-decoration: none;
    cursor: pointer;
}

/* .title,
.description {
    text-align: center;
} */

/* .description {
    margin: 4rem 0;
    line-height: 1.5;
    font-size: 1.5rem;
} */