.container {
    position: relative;
    display: grid;
    margin: 4.5rem;
    top: 0;
    max-width: 100rem;
    height: 80vh;
    background: #37405A;
    border-radius: 0.5rem;
}

.container h5 {
    color: #fff;
    padding-left: 4rem;
    padding-top: 1rem;
}

.tableWrap {
    padding: 0 0.75rem 1.5rem 0.75rem;
}

.container table {
    /* display: inline-block; */
    position: relative;
    width: 90%;
    padding: 0.5rem;
    margin: 0 auto;

    border-collapse: collapse;
    border: 0;
    margin-top: 1rem;
}

.container table thead {
    /* display: inline-block; */
    margin-bottom: 0.25rem;
    padding-bottom: 0.25rem;
    height: 3rem;
    border-bottom: 0.125rem solid rgba(255, 255, 255, 0.8);
}

.container table thead th {
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    color: #00FFFF;
}

.container table tbody td {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    width: 100vw;
    color: #fff;
    border-bottom: 0.125rem solid rgba(255, 255, 255, 0.1);
}


.container table tbody .icon {
    /* display: inline-block; */
    width: 1.4rem;
    margin: 1em 0.5rem;
    height: 1em;
    color: #00FFFF;
    border: none;
    font-weight: 200;
    font-size: 1rem;
    opacity: 0;
}

.container table tbody .icon1 {
    width: 1.4rem;
    margin: 1em 0.5rem;
    height: 1em;
    color: #FF6904;
    border: none;
    font-weight: 200;
    font-size: 1rem;
    opacity: 0;
}

.container table tbody tr:hover .icon,
.container table tbody tr:hover .icon1 {
    opacity: 1;
    transition: ease-in-out 400ms;
    cursor: pointer;
}

.container table tbody tr:hover,
.container table tbody tr:hover {
    opacity: 1;
    transition: ease-in-out 400ms;
    cursor: pointer;
    background: #7070709a;
}

.group {
    padding: 0.125rem 0 0 0.125rem;
    margin: 0 4rem -10rem auto;
}

.container button[type='button'] {
    position: relative;
    display: inline-block;
    width: 7.2rem;
    margin: 2em 0.5rem;
    height: 2.5em;
    right: 0;
    top: 0;
    background-color: #2C3348;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    min-width: 1rem;
    font-weight: 600;
    box-shadow: -0.125rem 0.125rem 0.75rem 0.125rem rgba(0, 0, 0, 0.2);
}

.container button[type='button']:nth-child(2) {
    background-color: #00FFFF;
    color: #2C3348;
}

.container button:hover {
    cursor: pointer;
}

.icon2 {
    width: 1.4rem;
    height: 1em;
    color: #FF6904;
    border: none;
    font-weight: 200;
    font-size: 1rem;
}

.container table tbody span {
    position: absolute;
    inset: 0;
    margin: 4rem;
    color: #FF6904;
    text-align: center
}

.deleteBox {
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #202020;
    opacity: 0.55;
    overflow: hidden;
    z-index: 2;
}